.rubik- {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500px;
  margin-bottom: 30px;
}

.card-wrapper {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-febd69);
  color: #131921;
}

/*======================
   Header Start
=======================*/
.header-top-strip {
  padding: 45px;
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}

.header-upper {
  padding: 45px;
  background-color: var(--color-131921);
}

.header-bottom {
  padding: 35px;
  background-color: var(--color-232f3e);
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400px;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important ;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}

/*======================
    Footer Start 
=======================*/
footer {
  padding: 45px;
  background-color: var(--color-232f3e);
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}

.footer-last {
  padding: 15px;
  justify-content: center;
  align-items: center;
}

/*======================
    Home Start
=======================*/
.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: 500px;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

.small-banner {
  width: 49%;
}

/* home wrapper 1 */
.home-wrapper-1 {
  padding: 45px;
}

/* Home wrapper 2 */
.home-wrapper-2 {
  padding: 45px;
  background-color: var(--color-f5f5f7);
}

/* categories */
.categories {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
  cursor: pointer;
}

.categories > div {
  width: 25%;
  flex: 0 0 20%;
  padding: 5px;
}

.categories img {
  width: 40%;
  height: 40%;
}

.categories > div > div {
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4),
.categories > div:nth-child(5) {
  border-bottom: 1px solid var(--color-ededed);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-right: 1px solid var(--color-ededed);
}
.categories > div:nth-child(6),
.categories > div:nth-child(7),
.categories > div:nth-child(8),
.categories > div:nth-child(9) {
  border-right: 1px solid var(--color-ededed);
}

.marquee-wrapper {
  padding: 45px;
  background-color: var(--color-f5f5f7);
}

/*======================
   Blog Card
=======================*/
.blog-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.blog-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.5s ease;
}

.blog-card:hover img {
  transform: scale(1.1); /* Scale down the image on hover */
}

.blog-content {
  padding: 15px;
}

.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400px;
  color: var(--color-777777);
  padding: 0;
}

.blog-content h5 {
  font-size: 18px;
  color: var(--color-131921);
}

.blog-content p.description {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}

/* single blog ** */
.single-blog-card h3 {
  font-size: 24px;
  font-weight: 600px;
  color: var(--color-1c1c1b);
}

.single-blog-card p {
  color: var(--color-777777);
  font-size: 15px;
  /* padding: 25px; */
  margin-bottom: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

.single-blog-card a {
  font-size: 15px;
  color: var(--color-777777);
  margin-bottom: 20px;
}

/*======================
  Featured products
=======================*/
.products-container {
  flex-wrap: wrap;
  width: 100%;
}

.col-2 {
  flex: 0 0 16.666667%; /* This ensures each column takes up exactly 1/6 of the container width */
  max-width: 16.666667%;
}

.product-card,
.popular-card,
.popular-card-2 {
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px; /* Ensures the card takes up the full height of the container */
  overflow: hidden;
}

.product-card:hover .action-bar {
  right: 15px;
}

.product-details {
  margin-top: 45px; /* Add some space between image and details */
  flex-grow: 1; /* This allows the details to take up the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Hide any overflow */
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the image container takes full width */
  height: 200px; /* Ensure the image container takes full height */
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the image fits within the container */
  transition: transform 0.5s ease;
  cursor: pointer;
}

.product-image:hover img {
  transform: scale(0.7); /* Scale down the image on hover */
}

.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5 {
  font-size: 10px;
  color: var(--color-1c1c1b);
}

.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
  margin-top: 5px;
}

.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon {
  top: 2%;
  right: 15px;
}

/*======================
  Special products
=======================*/
.special-product-content {
  width: 50%;
}

.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}

.special-product-content .discount-countdown {
  font-size: 12px;
}

.discount-countdown .badge {
  font-size: 10px;
  padding: 10px;
}

/*======================
  popular card ======
=======================*/
/* card 1 */
.popular-card .details h6 {
  font-size: 10px;
  color: var(--color-1c1c1b);
}

/* card 2 */
.popular-card-2 {
  background-color: var(--color-232f3e);
  gap: 30px;
}

.popular-card-2 .homePod {
  width: 400%;
}

.popular-card-2 .details-2 h4 {
  font-size: 10px;
  color: white;
}

.popular-card-2 .details-2 h2 {
  font-size: 15px;
  color: white;
}

.popular-card-2 .image-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 50%;
}

/*======================
  famous card ======
=======================*/
.famous-card {
  padding: 25px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px; /* Ensures the card takes up the full height of the container */
  overflow: hidden;
  width: 100%;
}

.famous-card-2 {
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px; /* Ensures the card takes up the full height of the container */
  overflow: hidden;
}

.famous-card .famous-content {
  top: 10%;
  left: 10%;
}

.famous-card .image-container img {
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}

.famous-content h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400px;
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.famous-content h6 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400px;
  color: white;
  margin-bottom: 20px;
}

.famous-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100px;
  color: white;
}

.famous-content-1 h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400px;
  color: var(--color-777777);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.famous-content-1 h6 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400px;
  margin-bottom: 20px;
  color: black;
}

.famous-content-1 p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100px;
  color: var(--color-777777);
}

/*======================
    404 Page
=======================*/
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Rubik", sans-serif;
}

.page_404 img {
  width: 100%;
  align-items: center;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--color-febd69);
  margin: 20px 0;
  display: inline-block;
}

.content_box_404 {
  margin-top: -50px;
}

/*======================
   Store Page======
=======================*/
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600px;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}

.filter-card ul,
.filter-card .checkbox-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  cursor: pointer;
  color: var(--color-777777);
}

.filter-card .form-check-input:focus {
  outline: none;
  box-shadow: none;
  box-sizing: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-card .form-check-input:checked {
  background-color: var(--color-febd69);
  border-color: var(--color-febd69);
}

.sub-title {
  font-size: 14px;
  font-weight: 600px;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 20px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

/*colors */
.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* random products */
.random-products h5 {
  font-size: 14px;
  margin-bottom: 8px;
}

.random-products:first-child {
  border-bottom: 1px solid var(--color-ededed);
}

.filter-sort-grid {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.grid img {
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
}

/*======================
   Contact Page======
=======================*/
.contact-inner-wrapper {
  padding: 30px 20px;
  /* border-radius: 15px; */
  background-color: white;
  gap: 15px;
}

.contact-inner-wrapper > div {
  width: 48%;
}

.contact-title {
  font-size: 26px;
  font-weight: 500px;
  line-height: 35px;
  text-align: left;
}

.contact-inner-wrapper form .form-control {
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}

.contact-inner-wrapper ul {
  list-style: none;
}

.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-777777);
}

/*======================
   Compare Product======
=======================*/
.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}

.compare-product-card .cross,
.wishlist-card .cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

.compare-product-details h5.title,
.wishlist-card h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-777777);
}

.compare-product-details p {
  font-size: 12px;
  line-height: 22px;
  color: var(--color-777777);
}

.compare-product-details h6.price,
.wishlist-card h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.product-card-image-2 {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 280px;
}

.centered-image {
  height: 100%;
  width: auto;
}

/*======================
 auth card   **======**
=======================*/
/* login */
.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
}

.auth-card h3 {
  font-size: 19px;
  font-weight: 500px;
  color: var(--color-777777);
}

.auth-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}

.auth-card a {
  font-size: 14px;
  font-weight: 400px;
  color: var(--color-1c1c1b);
}

.signup {
  background-color: var(--color-febd69);
  color: var(--color-131921);
  border: none;
}

.signup:hover {
  background-color: var(--color-131921);
  color: white;
}

/* reset password */
.auth-card h6 {
  font-size: 12px;
  font-weight: 500px;
  color: var(--color-777777);
}

/*======================
  Policy Pages ****
=======================*/
.policy {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.policy h1,
.about h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.policy h2,
.about h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.policy p,
.policy li,
.about p,
.about ul li {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #777777;
}

/*======================
Main Product Page ****
=======================*/

.description-wrapper h4,
.reviews-wrapper h3 {
  font-size: 26px;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}
.description-wrapper p {
  font-size: 14px;
  color: var(--color-777777);
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
}

.review-inner-wrapper {
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 10px #0000001a;
  border-radius: 10px;
}

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.review-head h4 {
  font-size: 18px;
  color: var(--color-1c1c1b);
}

.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--color-777777);
}

.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
}

.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review p {
  font-size: 14px;
  color: var(--color-777777);
}

.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-product-image img {
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;

  padding: 50px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-product-images {
  background-color: white;
  padding: 20px;
}

.other-product-images > div {
  padding: 20px;
  width: 48%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-product-details {
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main-product-details h3.title {
  font-size: 18px;
  font-weight: 600px;
  margin-bottom: 10px;
  color: var(--color-1c1c1b);
}

.main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600px;
  margin-bottom: 10px;
}

.main-product-details a.review-btn,
.t-review {
  color: var(--color-777777);
  font-size: 13px;
}

.prod-head {
  color: var(--color-1c1c1b);
  font-size: 14px;
  margin-bottom: 0px;
}

.prod-data {
  font-size: 13px;
  color: var(--color-777777);
  margin-bottom: 0px;
}

.main-product-details a {
  font-size: 14px;
  color: var(--color-777777);
}

/*======================
cart ****
=======================*/
.cart-header,
.cart-data {
  border-bottom: 1px solid #eaeaea;
}

.cart-header h4,
.cart-bottom h4 {
  font-size: 13px;
  color: var(--color-777777);
}

.cart-col-1 {
  width: 40%;
}

.cart-col-1 p,
.cart-bottom p {
  color: var(--color-777777);
  font-size: 14px;
}

.cart-col-2 {
  width: 10%;
}

.cart-col-3 {
  width: 15%;
}

.cart-col-4 {
  width: 15%;
}

.cart-data h5.price {
  font-size: 14px;
  color: var(--color-1c1c1b);
}

.empty h2 {
  font-size: 20px;
  color: var(--color-777777);
}

.empty p {
  font-size: 14px;
  color: var(--color-777777);
}

.empty-cart-container {
  height: 300px;
}
